# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '0 12 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
        days-before-stale: 180
        days-before-issue-stale: 730
        days-before-close: 30
        days-before-pr-close: -1
        stale-pr-message: 'Stale pull request detected at 180 days. Please update, comment, or rebase.'
        stale-issue-message: 'This issue is marked as stale. If you want to keep this issue open, please leave a comment, otherwise the issue will be closed due to inactivity.'
        close-issue-message: "This issue has been closed due to inactivity after being stale for 30 days."
        debug-only: true
        exempt-all-milestones: true
        
